@import '../../styles/_vars';

.listCard__container {
	background-color: $container_color;
	color: $text_color;
	padding: $padding;
	border-radius: $border-radius;
	margin-bottom: 12px;

	.listCard__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $padding;

		.head {
			display: flex;

			.thumbnail {
				width: 100px;
				height: 100px;
				border-radius: $border-radius;
				@media screen and (max-width: 414px) {
					width: 70px;
					height: 70px;
				}
			}

			.header__title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: $padding;

				.name {
					margin: 0;
					font-size: 24px;
					font-weight: $bold;
					cursor: pointer;
					@media screen and (max-width: 414px) {
						font-size: 18px;
					}
				}
				.year {
					margin: 0;
					font-weight: $light;
					font-size: 18px;
					@media screen and (max-width: 414px) {
						font-size: 16px;
					}
				}
			}
		}
		.trigger {
			cursor: pointer;
			transition: ease 0.4s;
			&.open {
				transform: rotate(90deg);
			}

			svg {
				height: 24px;
				width: 24px;
			}
		}
	}

	.listCard__content {
		padding: $padding;
		display: none;
		transition: 0.4s ease;

		&.open {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}

		.group {
			display: flex;
			justify-content: space-between;

			.detail__group {
				width: 40%;
			}
		}

		.detail__group {
			padding: $padding;
			font-size: 18px;

			.label {
				margin: 0;
				font-weight: $light;
			}
			.detail {
				margin: 0;
				font-weight: $normal;
				overflow-x: auto;
			}
		}
	}
}
