@import './_vars';
@import './_input';
@import './_buttom';
@import './_pagination';

html,
body {
	font-family: $font;
	font-weight: $light;
	background: $bg_color;
	color: $text_color;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 620px;
	margin: 0 auto;
	position: relative;
}

.section__header {
	display: flex;
	align-items: center;
	&.between {
		justify-content: space-between;
	}

	svg {
		margin-right: 12px;
		cursor: pointer;
		width: 30px;
		height: 30px;
	}
}

.divider {
	margin-top: 12px;
	width: 100%;
	height: 2px;
	border-radius: $border_radius;
	background-color: $container_color;
}

.footer {
	width: 620px;
	background-color: $bg_color;
	align-items: center;
	display: flex;
	justify-content: space-between;
	&.fixed {
		position: fixed;
		bottom: 0;
	}

	.select__menu {
		top: inherit !important;
		bottom: 100% !important;
	}
}

.loader__container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
}

.list__container {
	padding-bottom: 80px;
}

.grah__container {
	display: flex;
	justify-content: space-between;

	.legends__container {
		width: 95%;
	}

	.legend__container {
		display: flex;
		align-items: flex-start;
		background: $container_color;
		border-radius: $border_radius;
		padding: $padding;
		margin-bottom: 12px;

		.description {
			margin-left: 8px;
			display: flex;
			flex-direction: column;
		}

		h3 {
			margin: 0;
		}
	}

	.legend {
		width: 25px;
		height: 25px;
		border-radius: $border_radius;
	}
}
